<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid" style="margin: 25px">
      <div class="jumbotron" style="margin-right: 25px">
        <h1>Ninja Gold</h1>
        <h5>How big will your pot of gold end up?</h5>
      </div>
      {% if session['count'] > 0 %}
        <h5>Tries left: {{session['count']}}</h5>
        <h4>Current Gold: {{session['gold']}}</h4>
        <a class="btn btn-outline-danger" href="/endgame">Restart?</a>
      {% endif %}
      {% if session ['count'] <= 0 %}
        <h5>Game over. Your final score is: <h5>
        <h4>{{session['gold']}} pieces of gold</h4>
        <a class="btn btn-outline-success" href="/endgame">Play Again?</a>
      {% endif %}
      <div class="row" style="margin-right: 10px; margin-top: 25px;">
        <div class="col-sm">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem; height: 250px">
            <div class="card-header">
              <h3>Farm</h3>
            </div>
            <div class="card-body">
              <form action="/process_money" method="post">
                <input type="hidden" name="building" value="farm" />
                <input type="submit" value="Find Gold!"/>
              </form>
              <p>Farming is a sure thing, but the rewards are low</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem; height: 250px">
            <div class="card-header">
              <h3>Cave</h3>
            </div>
            <div class="card-body">
              <form action="/process_money" method="post">
                <input type="hidden" name="building" value="cave" />
                <input type="submit" value="Find Gold!"/>
              </form>
              <p>There are great treasures in the cave, but the dangers could cost you attempts</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem; height: 250px">
            <div class="card-header">
              <h3>House</h3>
            </div>
            <div class="card-body">
              <form action="/process_money" method="post">
                <input type="hidden" name="building" value="house" />
                <input type="submit" value="Find Gold!"/>
              </form>
              <p>You never know what you'll find between the couch cushions</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem; height: 250px">
            <div class="card-header">
              <h3>Casino</h3>
            </div>
            <div class="card-body">
              <form action="/process_money" method="post">
                <input type="hidden" name="building" value="casino" />
                <input type="submit" value="Find Gold!"/>
              </form>
              <p>Try your luck at the casino! You could win big, or you could lose big</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-light mb-3" style="margin-right: 25px">
        <div class="card-header">
          <h3>Activity Log:</h3>
          <ul class="list-group list-group-flush">
          {% for x in session['log']|reverse %}
            <li class="list-group-item list-group-item-dark">{{ x }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
